.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.billable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 13px;
}

.control label,
.control input {
  display: block;
}

.control label,
.billable label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
  font-size: 13.5px;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #f69235;
  background: #fff2e7;
}

.actions {
  text-align: center;
}

@media (min-width: 768px) {
  .control {
    align-items: left;
    flex-direction: column;
  }
}
